<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
  
      <class name="com.java.program.All"/>
      <class name="com.java.program.Sort"/>
       <class name="com.java.program.StringP"/>
        <class name="com.java.program.Stringsort"/>
         <class name="com.java.program.Stringsplit"/>
          <class name="com.java.program.AllString"/>
      <class name="com.java.program.Dublicatecount"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
